<!DOCTYPE html>
<html>

<head>

    <title>Home Page</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <h1>Todo Dashboard</h1>

    <form action="/add" method="POST">

        <input type="text"
               name="task"
               placeholder="Enter Task"
               required>

        <button type="submit">
            Add Task
        </button>

    </form>

    <ul>

        {% for task in tasks %}

        <li>

            {{ task }}

            <div>

                <a href="/update/{{ loop.index0 }}">
                    Update
                </a>

                <a href="/delete/{{ loop.index0 }}">
                    Delete
                </a>

            </div>

        </li>

        {% endfor %}

    </ul>

</div>

</body>
</html>